/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* styles.css */

/* Header styles */
/* styles.css */

/* Header styles */
header {
    background-color: #333;
    color: #fff;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    position: fixed; /* Fixed positioning */
    top: 0; /* Stick to the top */
    left: 0;
    right: 0;
    z-index: 100; /* Ensure it's on top of other content */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    height: 20px;
    margin: 0 0;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

/* Navigation menu styles */
.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: auto;
    margin-right: 0%;
}

.navbar li {
    margin-right: 0px;

}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Add padding to the body to account for the fixed navbar */
body {
    padding-top: 80px; /* Adjust as needed based on your navbar height */
    /* display: flex; */
    /* flex-direction: row;
    justify-content: left;
    /* align-items: start; */
    /* flex-wrap: nowrap; */ 
}


@media screen and (max-width: 600px) {
    body {
        flex-wrap: wrap; /* Wrap when the window width is less than 600px */
    }
}


section {
    margin: 0px;
    padding-top: 10px;
    padding: 20px;
    width: 370px;
    height: 570px;
    /* height: fit-content; */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#jmuImage{
    margin-bottom: -70px;
    margin-top: -50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: fit-content;
}

.flex-item {
    width: 400px; /* Adjust the width as needed */
    margin: 10px;
}
